<h1>Method 1:</h1>
<p>->TerraCycle can take care of all your pen recycling needs! Mail your dried out or extra pens to their center by purchasing a Zero Waste Box. Bic has also partnered with their site specifically for the disposal of their products.</p>
<h1>Method 2:</h1>

<p>->Scarce, a nonprofit in Addison, IL, accepts gently used school supplies. They prevent the supplies from going to landfills and instead put them into the hands of kids who need them. Send in your pens as well as other school supplies like markers, rulers, calculators, binders, and pocket folders.</p>
<h1>Method 3:</h1>
<p>->The Pen Guy, a.k.a. Costas Schuler, will take your unwanted pens and use them for his next project. To date, he has collected more than 10,000 old pens that he welds together to create furniture, murals, and other works of art</p>
